@import "tailwindcss";

@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/kalameh/woff2/KalamehWebFaNum-Regular.woff2")
            format("woff2"),
        url("../fonts/kalameh/woff/KalamehWebFaNum-Regular.woff") format("woff");
}

@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/kalameh/woff2/KalamehWebFaNum-Medium.woff2")
            format("woff2"),
        url("../fonts/kalameh/woff/KalamehWebFaNum-Medium.woff") format("woff");
}

body {
    font-family: KalamehWeb;
}